header {
	min-height: 70px;
	background-color: #444;
	width: 100%;
	font-size: 26px;
	color: #fff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.content {
	min-height: 600px;
	background-color: #ccc;
	padding-top: 10px;
	width: 70%;
	margin-top: 0 !important;
	float: left;
}

.siderbar {
	width: 30%;
	float: left;
}

footer {
	width: 100%;
	min-height: 120px;
	background-color: #555;
	font-size: 26px;
	color: #fff;
}