.section5__box {
    background: #f6f6f6;
    min-height: 165px;
    padding: 30px 20px 30px;
    margin-bottom: 40px;
}

.section5__box--top {
    min-height: 95px;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 10px;
}

.section5__box--top img {
    width: 80px;
    height: 80px;
}

.section5__box p {
    color: #bdc3c7;
    display: block;
}

.section5__box:before {
    content: "";
    background: url("../images/point-right.png") no-repeat;
    width: 27px;
    height: 31px;
    position: absolute;
    top: 25px;
    right: -27px;
}

.section5__box--left:before {
    background: url("../images/point-left.png") no-repeat;
    left: -27px;
}

.col-md-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.fll {
    float: left;
}

.mgr25 {
    margin-right: 25px;
}

.width70 {
    width: 70%;
}

.width85 {
    width: 85%;
}

.lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.txt-color-gray {
    color: #7f8c8d;
}

.lineheight24 {
    line-height: 24px;
}

.font-size16 {
    font-size: 16px;
}

.font-size12 {
    font-size: 12px;
}

.position-re {
    position: relative;
}


@media screen and (max-width: 767px) {
    .section5__box--top img {
        margin-right: 7px;
    }

    .section5__box:before {
        display: none;
    }

    .width85 {
        width: 100%;
    }

    .width70 {
        width: 65%;
    }
}
